{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="ja">

    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>モバイルオーダー</title>
        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        <link href="{% static 'invoice/css/invoice.css' %}" rel="stylesheet">
        
    </head>
    <body>
        <div class="container-fluid">
            
            <div class="clearfix">
                <div class="col no-gutters">
                    <img class="img-fluid" src="/static/invoice/img/welcome.png" alt="">
                </div>
                <h2>お客様のテーブルNoは{{ number_one }}です
                </h2>
                <div class="float-right">
                    <a class="btn btn-outline-secondary command" id="sendorder" href="{% url 'create' %}">注文画面へ</a>
                </div>
            </div>
            
        </div>
        {% bootstrap_javascript jquery='full' %}
        <script src="{% static 'invoice/js/one.js' %}"></script>
        {% block bottom_script %}
        {% endblock bottom_script %}
    </body>







    </html>